* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div{
    background-color: aquamarine;
    text-align: center;
}

div h1 {
    margin: 20px
    
    }
div h2 {
    margin: 20px
}
a {
    text-decoration: nome;
    background-color: rgb(72, 22, 211);
    padding: 10px;
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 10px;
    color: white;
    transition: 2s;
    }
a:hover {
    background-color: white ;
    color: rgb(72, 22, 211);
    transform: scale(1.3);
    

}